[submodule "edu-interacting-with-workflows-typescript-code"]
	path = edu-interacting-with-workflows-typescript-code
	url = https://github.com/night-heron-software/edu-interacting-with-workflows-typescript-code.git
